 [Unit]
 Description=Fan Controller

 [Service]
 Type=idle
 ExecStart=/opt/fan-controller -l INFO
 KillSignal=SIGINT

 [Install]
 WantedBy=multi-user.target
